body {
    background-image: url(/backfon.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

h1, h2 {
    text-align: center;
    font-size: 55px;
}

button {
    text-align: center;
    color: brown;
    background-color: aquamarine   ;
    font-size: 33px;
    margin-bottom: 15px;
}

#reset-btn {
    color: aquamarine;
    background-color: brown;
}